/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Font used throughout the website */
body { font-family: 'Lato', sans-serif !important; }

/* I don't like any special designs on a tags .. */
a, a:link, a:visited, a:active, a:hover { text-decoration : none !important; color : black !important;}

/* <hr/> tag style edits */
.break{ background-color: dimgrey !important; border: solid 1px dimgrey !important; }

/* Section Controllers */
.full-screen-section { height: 100%; width: 100%; padding: 50px 0; display: table; }
.half-screen-section { width: 100%; display: table; color: black; }

/* Gradient background for the / page */
.main { background: #00c6ff; background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); background: linear-gradient(to left, #00c6ff , #0072ff); }

/* Login screen background image */
 .login { background: url('/background.jpg'); height : 100% background-attachment : fixed; background-position : center; background-repeat : no-repeat; background-size : cover; }

/* Wrapper for the sections */
 .wrapper { padding: 50px; vertical-align: middle; height: 100%; display: table-cell; }

/* Aligning text in a section */
 .header-container { text-align : center; }

/* ==================== ANY BOOTSTRAP MODIFICATIONS ARE DONE BELOW ==================== */


/* Navbar Modifications : Made the nav transparent with this class */
.transparent
{
   border-width: 0px;
   -webkit-box-shadow: 0px 0px;
   box-shadow: 0px 0px;
   background-color: rgba(0,0,0,0.0);
   background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
   background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
   background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* Input Modifications : Made a black and white underlined text inputs */
.white-input { outline : 0 !important; order-style : solid !important; border-radius : 0 !important; background : none !important; border-width : 0 0 1px 0 !important;
                border-color : white !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; color : white !important;
                font-size : 15px !important; }

.white-input::-webkit-input-placeholder { color: white !important; }
.white-input:-moz-placeholder { color: white !important; }
.white-input::-moz-placeholder { color: white !important; }
.white-input:-ms-input-placeholder { color: white !important; }

.black-input { outline : 0 !important; order-style : solid !important; border-radius : 0 !important; background : none !important; border-width : 0 0 1px 0 !important;
                border-color : black !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; color : black !important;
                font-size : 15px !important; }

.black-input::-webkit-input-placeholder { color: black !important; }
.black-input:-moz-placeholder { color: black !important; }
.black-input::-moz-placeholder { color: black !important; }
.black-input:-ms-input-placeholder { color: black !important; }

 /* Button Modifications : Styling the bootstrap buttons (white & black) */
 .btn { padding: 14px 24px; border: 0 none; font-weight: 700; letter-spacing: 1px; text-transform: uppercase; }
 .btn:focus, .btn:active:focus, .btn.active:focus { outline: 0 none; }

 .btn-white { background: none !important; border-width : 2px !important; border-color : white !important; color: #ffffff; }
 .btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open > .dropdown-toggle.btn-primary
 { background: none; border-width : 2px !important; border-color : white !important; color : white !important;}

 .btn-black { background: none !important; border-width : 2px !important; border-color : black !important; color: #000000; }
 .btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black.active, .open > .dropdown-toggle.btn-primary
 { background: none; border-width : 2px !important; border-color : black !important; }
