<html>

<head>
  <title>Jobify | About</title>
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
  <meta name = "viewport" content = "initial-scale = 1, maximum-scale = 1, user-scalable = no">
  <%= csrf_meta_tags %>
  <link id = "favicon" rel = "shortcut icon" href = ".../app/assets/images/icon.png" type = "image/png">
  <!--<link rel = "stylesheet" href = ".../app/assets/stylesheets/application.css"> -->
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = 'stylesheet' href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link href = "https://fonts.googleapis.com/css?family=Quicksand" rel = "stylesheet">
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand"><img draggable = "false" height = "23" width = "60" src = "../img/logo_b.png"></a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/index"><i style = "color : black;" class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

	<section class = "feed-section">
    <div class = "wrapper header-container">
      <div class = "row">
        <div class = "col-md-3">
          <hr class = "break"/>
          <img draggable = "false" height = "200" width = "200" src = "https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/13932867_10155109421279377_5478224267040646969_n.jpg?oh=60bd20cfa50fd4feef5099d566409755&oe=59733206">
          <h3>Ali Sanaknaki</h3>
          <h3><font color = "grey">Full-Stack</font></h3>
          <a target = "_blank" href = "https://www.linkedin.com/in/alisanaknaki/"><i style = "color : #007bb6;" class = "fa fa-linkedin-square fa-2x" aria-hiden = "true"></i></a>
          <br>
          <hr class = "break"/>
        </div>

        <div class = "col-md-3">
          <hr class = "break"/>
          <img draggable = "false" height = "200" width = "200" src = "https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/12088245_873314746079583_2421344739788049222_n.jpg?oh=a0f07da77ed32a3a49c448afaa06919e&oe=596CAA1A">
          <h3>Abdulwahaab Ahmed</h3>
          <h3><font color = "grey">Back-End</font></h3>
          <a target = "_blank" href = "https://www.linkedin.com/in/abdulwahaab710/"><i style = "color : #007bb6;" class = "fa fa-linkedin-square fa-2x" aria-hiden = "true"></i></a>
          <br>
          <hr class = "break"/>
        </div>

        <div class = "col-md-3">
          <hr class = "break"/>
          <img draggable = "false" height = "200" width = "200" src = "https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/15181460_672872609540517_7553333029852370232_n.jpg?oh=32636a40eaa0084defa0c8e4ba38f57c&oe=5954EC7D">
          <h3>Kritika Wadhera</h3>
          <h3><font color = "grey">Back-End</font></h3>
          <i style = "color : #007bb6;" class = "fa fa-linkedin-square fa-2x" aria-hiden = "true"></i>
          <br>
          <hr class = "break"/>
        </div>

        <div class = "col-md-3">
          <hr class = "break"/>
		      <img draggable = "false" height = "200" width = "200" src = "https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/16640784_10208969980232537_6445039568751631599_n.jpg?oh=3ac76d8f20a742a4c89a4f47ef3833f1&oe=59695472">
          <h3>Karim Chukfeh</h3>
          <h3><font color = "grey">Back-End</font></h3>
          <a target = "_blank" href = "https://www.linkedin.com/in/karimchufkeh/"><i style = "color : #007bb6;" class = "fa fa-linkedin-square fa-2x" aria-hiden = "true"></i></a>
          <hr class = "break"/>
        </div>
      </div>
    </div>
	</section>

</body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</html>
