<html>
<head>
  <title>Jobify</title>
  <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
  <meta name = "viewport" content = "initial-scale = 1, maximum-scale = 1, user-scalable = no">
  <%= csrf_meta_tags %>
  <link id = "favicon" rel = "shortcut icon" href = ".../app/assets/images/icon.png" type = "image/png">
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = 'stylesheet' href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link href = "https://fonts.googleapis.com/css?family=Quicksand" rel = "stylesheet">
</head>

<body>
  <div class = "full-screen-section main">
    <div class = "wrapper">
      <div class = "row">
        <div class = "header-container">
          <div class = "greetings">

            <img src = "logo.png" draggable = "false">
            <h1 style = "font-size : 40px; color : white;">It's like <strong>YELP</strong>, but for <strong>JOBS</strong>.</h1>

			      <br>

			      <a href = "/main">
				        <button type="button" class="btn btn-primary btn-lg">GET STARTED</button>
			      </a>

			      <br><br>

			      <h2><font style = "line-height : 10px;"><i class="fa fa-arrow-down" style = "color : white;" aria-hidden="true"></i></font></h2>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-section">
    <div class="wrapper">
      <div class="row text-center">

          <!--<div class="col-md-4 col-md-offset-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Skrr Skrr .. ">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button">Search</button>
              </span>
            </div>
          </div>

		      <div class = "col-md-6 col-md-offset-3">
			      <br>
			      <div style = "line-height : 50px"><hr/></div>
		      </div>-->

          <div class = "col-md-4 col-md-offset-4">
		        <br>
            <div style = "word-spacing : 50px"><a href = "/about">ABOUT</a> <a href = "/tos">TOS</a></font></div>
          </div>

      </div>
    </div>
  </div>

</body>

  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</html>
