<div class="col-md-4 col-md-offset-4">
  <ul>
    <% @resume.each do |resume| %>
      <% if User.find(session[:user_id]).student %>
        <% link = "/student/resumes/#{resume.id}" %>
      <% else %>
        <% link = "/student/#{@student.id}/resumes/#{resume.id}" %>
      <% end %>
      <li><a href="<%= link %>"> <%= resume.resume_path %></a></li>
    <% end %>
  </ul>
</div>
