<div class="col-md-6 col-md-offset-3"  style="text-align: center;">
  <h1>Upload Resume</h1>
  <%= form_tag( {:action => "upload"},:multipart => true) do |f| %>
    <%= file_field_tag :resume_pdf %>
    <input class = "btn btn-black" type="submit" name="commit" value="Save changes" data-disable-with="Save changes">
  <% end %>
</div>
